html, body, header, nav, div, h1, h2, h3, ul, a, p{
    margin: 0;
    padding: 0;
    font-family: calibri, Arial, Helvetica, sans-serif;;
    
}

body{
    background-color: #e2dcb8
}

header{
    padding-bottom: 30px;
}

header img{
    display: block;
    margin-right: auto;
    width: 100px;
    padding-right: 50px;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
}

nav{
    background-color: #ffffff;
    padding-top: 44px;
    padding-bottom: 40px;
    text-align: right;
}



nav ul li {
    display: inline;
    text-align: right;
}



nav ul li h1 a{
    float: left;
    text-decoration: none;
    color: #c33c3c;
    background-color: #ffffff;
    font-size: 40px;
}



nav ul li a{
    background-color: #ffffff;
    color: #111111;
    font-size: 40px;
    text-decoration:none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 50px;
    clear: right;
}


header a:hover{
    text-decoration: underline;
}

header h1 a:hover{
    text-decoration: underline;
}



#contenedorone{
    float: left;
    width: 25%;
    height: 450px;
    background-color: #a00c31;
    padding: 20px;
    margin-left: 5%;
    margin-right: 13%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 40px;
    border:3px solid #111111;
}

#contenedorone img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


#cajatexto1{
    float: right;
    width: 25%;
    height: 450px;
    background-color: #a00c31;
    padding: 20px;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 40px;
    border:3px solid #111111;
}

#cajatexto1 ul li h2{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding-top: 60px;
    text-align: center;
}

#cajatexto1 ul{
    list-style: none;
}

#contenedortwo img{
    clear: both;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 30px;
    border-radius: 15px;
}

footer h1{
    text-align: center;
    font-size: 24px;
    background-color: #b90d38;
    clear: both;
}


main h1{
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}




.galeriaJuguetes{
    float: left;
    background-color: #943049;
    width: 30%;
    height: 800px;
    padding-bottom: 60px;
    margin-left: 35px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 4px solid #111111;
    border-radius: 15px;
}

.galeriaJuguetes ul li h2{
    font-size: 30px;
    color: #ffffff;
}

.galeriaJuguetes ul li h3{
    font-size: 26px;
    color: #ffffff;
    padding-bottom: 30px;
    text-align: right;
    margin-right: 60px;
}

.galeriaJuguetes .cajaStock{
    float: right;
    background-color: #ffffff;
    width: 30px;
    height: 20px;
    margin-right: 10px;
    margin-top: -67px;
    border-radius: 15px;
    font-size: 20px;
    border: 2px solid #111111;
}


.galeriaJuguetes ul li p{
    font-size: 20px;
    color: #ffffff;
}


.galeriaJuguetes ul{
    list-style: none;
}

.galeriaJuguetes li{
    padding: 5px;
    text-align: center;
}

.fotojuguetes{
    clear: right;
    width: 70%;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
}


article{
    width: 60%;
    height: 700px;
    background-color: #944458;
    padding: 20px;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 40px;
    border:5px solid #111111;
}

article h1{
    text-align: center;
    font-size: 40px;

}   

.control{
    width: 100%;
    height: 100px;
    font-size: 20px;
    margin-top: 20px;
    resize: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 5%;
}

.boton{
    font-size: 24px;
    font-weight: bold;
    width: 20%;
    height: 70px;
    border-radius: 10px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
}


@media screen and (max-width:900px){

    header img{
        width: 50px;
        padding-right: 50px;
        margin-top: 30px;
        margin-left: 30px;

    }

    nav{
        background-color: #ffffff;
        padding-top: 44px;
        padding-bottom: 40px;
        text-align: right;
    }


    nav ul li h1 a{
        font-size: 18px;
    }



    nav ul li a{
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #contenedorone{
        width: 25%;
        height: 250px;
        margin-left: 5%;
        margin-right: 13%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #cajatexto1{
        width: 25%;
        height: 250px;
    }

    #cajatexto1 ul li h2{
        color: #ffffff;
        font-size: 12px;
        padding-top: 30px;
    }

    footer h1{
    font-size: 16px;
    }




.galeriaJuguetes{
    width: 20%;
    height: 500px;
    padding-bottom: 30px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    }

.galeriaJuguetes ul li h2{
    font-size: 14px;
    color: #ffffff;
    }

.galeriaJuguetes ul li h3{
    font-size: 12px;
    padding-bottom: 5px;
    margin-left: 20%;
    text-align: right;
    }

.galeriaJuguetes .cajaStock{
    width: 10px;
    height: 7px;
    border-radius: 15px;
    font-size: 12px;
    margin-top: -28px;
    margin-right: 2%;
    }


.galeriaJuguetes ul li p{
    padding-top: 20px;
    font-size: 10px;
    padding-bottom: 40px;
    }


.fotojuguetes{
    width: 70%;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    }


article{
    height: 400px;
    margin-left: 17%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 100px;
    }

article h1{
    font-size: 30px;
    }   

.control{
    width: 100%;
    height: 50px;
    }

.boton{
    font-size: 14px;
    width: 20%;
    height: 50px;;
    }
}
